* { /* General */
    padding: 0;
    margin: 0;
    font-family: 'Nunito';font-size: 22px;
    text-decoration: none;
}
h1 {
    font-size: 1.75rem;
}
:root {
    --font_color: rgb(14, 14, 14);
    --development_background: pink;
    --background_grey: #D9D9D9;
}
body {
    display: flex;
    justify-content: center;
}


 /* Navigation */
.sleeve {
    display: flex;
    flex-direction: column;
    width: 1400px;
    /* width: full; */
    gap: 0.75rem;
}
.navigation {
    display: flex;
    flex-direction: column;
    width: full;
    gap: 0.75rem;
    padding: 1rem 1rem 0.25rem 1rem;
}
.navigation_section {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: full;
}
.secondary_nav {
    /* background-color: var(--development_background); */
}
.header {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    color: var(--font_color);
}
.page_link {
    color: var(--font_color);
    font-size: 1rem;
}.selected_page {
    color: var(--development_background);
}


/* Picture background with Title and Paragraph */
.image_background {
    width: full;
    position: relative;
    height: 700px;
}
.img_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--development_background);
}
.text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Curated activities */
.curated_activities_tours {
    width: full;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.three_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.cards {
    position: relative;
    border-radius: 8px;
}
.vert_image {
    max-width: 350px;
}
.cards_title_para {
    position: absolute;
    right: 50%;
    bottom: 28%;
    transform: translate(50%, 50%);
    width: 85%;
}


/* Header & paragraph next to picture */
.text_beside_pic {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header_paragraph {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 2rem 1rem;
    gap: 0.5rem;
}
.picture_by_text {
    width: 100%;
    height: 100%;
    background-color: var(--development_background);
}


/* Questions */
.questions {
    padding: 2rem;
    gap: 1rem;
}
.question_list {
    padding: 1rem 0 1rem 1rem;
}
.this_question {
    padding: 12px 0;
}


/* Contact Form */
.contact_wrapper {
    width: full;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_form {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.input_style {
    min-width: 50vw;
    padding: 4px 0px 4px 8px;
    margin-bottom: 1rem;
}


/* Footer */
footer { /* Footer */
    background-color: var(--background_grey);
    width: full;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.footer_grid {
    width: full;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.footer_title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.footer_link {
    justify-self: right;
    text-decoration: none;
    color: var(--font_color);
    font-size: 1rem;
}